/.idea/workspace.xml
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#Ignore test generated data
/addressbook-web-tests/src/test/resources/group.*
/addressbook-web-tests/src/test/resources/contact.*
